<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Menu Lateral</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <img src="imgs/logo.png" alt="Logo" style="width: 100%;" class="logo">
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 sidebar">
        <%- include('_menu', { activeRoute: '/clientes' }) %> <!-- Inclui o menu -->
      </div>
      <div class="col-md-9">
        <!-- Conteúdo principal -->
        <h1>Clientes</h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nome do Cliente</th>
            </tr>
          </thead>
          <tbody>
            <% if (clientes.length > 0) { %>
              <tr>
                <td><%= clientes[0].nome_cliente %></td>
                <!-- <p><%= clientes.length %></p> -->
              </tr>
            <% } %>
          </tbody>
        </table>
        
      </div>
    </div>
  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>
