
  <ul>
    <li><a href="/" class="<%= activeRoute === '/' ? 'active' : '' %>">Dashboard</a></li>
    <li><a href="/campanhas" class="<%= activeRoute === '/campanhas' ? 'active' : '' %>">Campanhas</a></li>
    <li><a href="/clientes" class="<%= activeRoute === '/clientes' ? 'active' : '' %>">Clientes</a></li>
  </ul>

