<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Menu Lateral</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <img src="imgs/logo.png" alt="Logo" style="width: 100%;" class="logo">
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="">
      <div class="col-md-2 sidebar">
        <%- include('_menu') %> <!-- Inclui o menu -->
      </div>
      <div class="col-md-10">
        <!-- Conteúdo principal -->
        <h1>Dashboard</h1>
      </div>
    </div>
  </div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>


</html>