<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="col-lg-8"><a class="navbar-brand" href="/">DS Lead</a></div>
    <div class="col-lg-4"> <a>Seja bem-vindo, < %= user.nome %> |</a> <a href="/logout">Logout</a></div>
</nav>